<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V9</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util_login.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_login.css') }}">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-login100" style="background-image: url('static/images/hero-bg.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<span class="login100-form-title p-b-37" style="#1f1f1f;">
					Sign In
				</span>


				<div class="wrap-input100 m-b-20">
					{{ form.email(class="input100", placeholder=form.email.label.text) }}
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 m-b-25">
					{% if form.password.errors %}
						{{ form.password(class="input100")}}
							{% for error in form.password.errors %}
								<script type="text/javascript">
									window.alert( {{ error|tojson }} );
								</script>
							{% endfor %}
					{% else %}
						{{ form.password(class="input100", placeholder=form.password.label.text) }}
					{% endif %}

					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					{{ form.submit(class="login100-form-btn") }}
				</div>

				<!-- <div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						Or login with
					</span>
				</div>

				<div class="flex-c p-b-112">
					<a href="#" class="login100-social-item">
						<i class="fa fa-facebook-f"></i>
					</a>

					<a href="#" class="login100-social-item">
						<img src="{{ url_for('static', filename='images/icons/icon-google.png') }}" alt="GOOGLE">
					</a>
				</div> -->

			</form>


		</div>
	</div>



	<div id="dropDownSelect1"></div>

	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
